<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <a href="{% url 'select_game' %}"><h2 id="exit-button">Exit</h2></a>
    <link rel="icon" href="/static/main/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'Hammy-Racing/style.css' %}">
    <title>Racing Game</title>
    <style>

    </style>
    <style>

    </style>
</head>
<body>
    <div id="gameContainer">
        <canvas id="gameCanvas"></canvas>
        <div class="timer" id="timer"></div>
        <div class="game-over" id="gameOverMessage" style="display: none;"></div>
        <div class="controls">
            <button class="control-button" id="upButton">↑</button>
            <button class="control-button" id="downButton">↓</button>
            <button class="control-button" id="restartButton">🔄</button>
        </div>
    </div>
    <script src="{% static 'Hammy-Racing-2024/game.js' %}"></script>
</body>
</html>
