<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" href="/static/main/favicon.ico" type="image/x-icon">
    <title>Leaderboard</title>
</head>

    <span id="nav-bar">
        <a href="{% url 'home' %}"><img src="{% static 'main/logo.png' %}" id="game-img"></a>
        <h1>Leaderboard</h1>
        {% if user.is_authenticated %}
        <a class="button" href="{% url 'logout' %}">Log out</a>
        {% else %}
        <a class="button" href="{% url 'login' %}">Log in</a>
        <a class="button" href="{% url 'signup' %}">Sign Up</a>
        {% endif %}    
    </span>

<body>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th><img src="{% static 'main/africanPresident.jpg' %}"></th>
                <th><img src="{% static 'main/animalHangman.jpg' %}"></th>
                <th><img src="{% static 'main/hammyRacing.jpg' %}"></th>
                <th><img src="{% static 'main/icon.jpg' %}"></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leaderboard_entries %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ entry.user.username }}</td>
                    <td>{{ entry.african_president_games_won }}</td>
                    <td>{{ entry.animal_hangman_games_won }}</td>
                    <td>{{ entry.hammy_racing_time }}</td>
                    <td>{{ entry.hammy_stop_score }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No results found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
