{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="/static/main/favicon.ico" type="image/x-icon">
</head>
<body>
    <span id="nav-bar">
        <a href="{% url 'home' %}"><img src="{% static 'main/logo.png' %}" id="game-img"></a>
        <h1>Login</h1>
    </span>
    <form method="post" id="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit">Log in</button>
    </form>
    <p>Don't have an account? <a class="button" href="{% url 'signup' %}">Sign up here</a></p>
</body>
</html>
