<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Category</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Welcome to my Games!</h1>
    <h2>Select a Game</h2>

    <a href="{% url 'animal_hangman' %}">Animal Hangman</a>
    <a href="{% url 'african_president' %}">African President</a>
    <a href="{% url 'hammy_racing' %}">Hammy Racing</a>
    <a href="{% url 'leaderboard' %}">Leaderboard</a>


    <div>
        <a href="{% url 'home' %}">Home</a>
    </div>
</body>
</html>
