<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Category</title>
    <link rel="icon" href="/static/main/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <span id="nav-bar">
        <a href="{% url 'home' %}"><img src="{% static 'main/logo.png' %}" id="game-img"></a>
        <h1>Library</h1>
        {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}! </p>
        <a class="button" href="{% url 'logout' %}">Log out</a>
        {% else %}
        <a class="button" href="{% url 'login' %}">Log in</a>
        <a class="button" href="{% url 'signup' %}">Sign Up</a>
        {% endif %}    
    </span>
    <span id="latest">
        <a href="{% url 'cat_owner' %}"><img src="{% static 'main/co_latest.png' %}" id="latest-img"></a>
    </span>
    <h2 class="category">Games</h2>
    <section id="library">
        <div class="game-grid">
            <div class="game-item">
                <a href="{% url 'african_president' %}">
                    <img src="{% static 'main/africanPresident.jpg' %}">
                </a>
            </div>
            <div class="game-item">
                <a href="{% url 'animal_hangman' %}">
                    <img src="{% static 'main/animalHangman.jpg' %}">
                </a>
            </div>
            <div class="game-item">
                <a href="{% url 'cat_owner' %}">
                    <img src="{% static 'main/catOwner.png' %}">
                </a>
            <div class="game-item">
                <a href="{% url 'hammy_racing' %}">
                    <img src="{% static 'main/hammyRacing.jpg' %}">
                </a>
            </div>
            <div class="game-item">
                <a href="{% url 'hammy_stop' %}">
                    <img src="{% static 'main/icon.jpg' %}">
                </a>
            </div>
        </div>
    </section>

</body>
</html>
